/*
* @Author: Fuyuumiai
* @Date:   2019-01-12 10:23:39
* @Last Modified by:   Fuyuumiai
* @Last Modified time: 2019-01-12 10:23:39
*/
*{
	margin: 0;
	padding: 0;
}
a:focus {outline-style:none;}
body{
	width: 100%;
	height: 100%;
	background:URL("../image/comptuer_back.jpg") no-repeat;
	background-size: cover;
	overflow: hidden;
}

.login_back{
	width: 450px;
	height: 460px;
	position: absolute;
	top: 0;right: 0;bottom: 0;left: 0;
	margin: auto;
	background-color: #fff;
	border: 1px solid #666;
	border-radius: 5px;
	overflow: hidden;
}
.login_title{
	width:100%;
	height: 108px;
}
.title_name{
	display: block;
	width: 100%;
	height: 60px;
	text-align: center;
	line-height: 60px;
	font-size: 26px;
	font-weight: bold;
	letter-spacing: 3px;
	border-bottom: 1.8px solid #666;
}
.login_cz{
	width:288px;
	height: 62px;
	margin: 0 auto;
}
.login_cz a{
	display: inline-block;
	width: 108px;
	height: 60px;
	font-size: 20px;
	text-decoration: none;
	color: #666;
	text-align: center;
	line-height: 80px;
}
.login_cz a:first-child{
	float: left;
}
.login_cz a:last-child{
	float: right;
}
.border_span{
	display: inline-block;
	width: 108px;
	height: 2px;
	background-color:#6668;
	position: relative;
	top:-10px;
	left: 80px;
	transition:all 0.5s;
}
#main{
	width: 902px;
	height: 320px;
	transition:all 0.5s;
}
.fro_log{
	display: block;
	width: 450px;
	height: 350px;
	position: relative;
	float: left;

}

.log_name,.log_pass{
	width: 100%;
	height: 80px;
	line-height: 80px;
}
.fro_log>div:first-child{
	margin-top: 30px;
}
.log_name>span,.log_pass>span{
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-right: 20px;
	font-size: 18px;
	text-align: right;
}
.log_name>input,.log_pass>input{
	width: 288px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
}
.log_forget{
	width: 358px;
	height: 60px;
	line-height: 60px;
	margin: 0 auto;
}
.log_forget>input{
	display: inline-block;
	width: 16px;
	height: 16px;
	margin-top: 22px;
	margin-right: 4px;
	margin-left: 55px;
	float: left;
}

.log_button{
	width: 315px;
	height: 50px;
	margin: 0 auto;
}
.log_button>input{
	width: 305px;
	height: 50px;
	border-radius: 4px;
	background-color: #189DD8;
	color: #fff;
	font-size: 18px;
	letter-spacing: 15px;
	margin-left: 30px;
}
.register_fro{
	width: 450px;
	height: 350px;
	transition:all 0.5s;
	overflow: hidden;

}
.fro_reg{
	display: block;
	width: 450px;
	height: 350px;
	transition:all 0.5s;
	position: relative;
}
.reg_name,.reg_id,.reg_pass,.reg_repass{
	width: 100%;
	height: 65px;
	line-height: 65px;
}
.reg_name{
	margin-top: 20px;
}
.fro_reg span{
	display: inline-block;
	width: 80px;
	height: 30px;
	margin-left: 5px;
	margin-right: 25px;
	font-size: 18px;
	text-align: right;
}
.fro_reg input{
	width: 288px;
	height: 40px;
	font-size: 16px;
	padding-left: 10px;
}
.reg_sub{
	width: 288px;
	height: 40px;
	margin-left: 112px;
}
.reg_sub input{
	width: 305px;
	height: 50px;
	background-color: #189DD8;
	color: #fff;
	font-size: 18px;
	letter-spacing: 10px;
	border-radius: 4px;
}